.texto-menor {
    font-size: 13px;
}

.divs-facilidades{
    width: 325ps;
}

.div-novidades {
    width: 325px;
}

.verde-limao {
    color: #DAFF01;
}

.posicao{
    top: 40%;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}

@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}